<footer class="footer items-center p-4 bg-primary text-primary-content mb-0">
  <div class="items-center grid-flow-col">
      <p>&copy; KT Kitchen Trade</p>
      <a href="/about">ABOUT</a>
      <a href="/contact">CONTACT</a>
  </div>
  
  <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <a href="">
          <img src="/assets/icons8-twitter.svg" class="w-12" alt="twitter icon">
        </a>
      <a href="#">
          <img src="/assets/icons8-instagram.svg" class="w-12" alt="twitter icon">
      </a>
  </div>
</footer>
</body>
</html>