<%- include('./partials/header.ejs') %>    
    
      <main class="hero bg-base-200 flex-grow">
        <div class="hero-content text-center prose">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Welcome to KT Kitchen</h1>
            <p class="py-6">We are a premier destination for all your kitchen needs. Our mission is to provide high-quality kitchenware and accessories that enhance the culinary experience of our customers. Whether you are a professional chef or a home cook, we have everything you need to create your culinary masterpieces.</p>
            <p>Our selection of kitchenware is carefully curated to ensure that every product we offer meets our high standards of quality and functionality. We work with leading brands in the industry to bring you the latest and greatest kitchen tools, appliances, and accessories. From premium cookware sets to stylish kitchen décor, we have something for everyone.</p>
            <p>At KT Kitchen, we are passionate about cooking and believe that the right tools can make all the difference in the kitchen. That's why we are committed to providing exceptional customer service and expertise to help you find the perfect kitchenware for your needs. Our team of knowledgeable professionals is always available to answer your questions and provide guidance to ensure that you get the most out of your purchase.</p>
            <p>We take pride in our commitment to sustainability and environmental responsibility. Many of our products are made from eco-friendly materials, and we are constantly working to reduce our carbon footprint through our business practices.</p>
            <p>Thank you for choosing KT Kitchen as your go-to source for all your kitchen needs. We look forward to serving you and helping you elevate your culinary experience!</p>
          </div>
        </div>
      </main>
<%- include('./partials/footer.ejs') %>