<%- include('./partials/header.ejs') %>    
    
    <main class="main-content prose prose-xl mx-auto">
        <h1>Welcome to our Kitchen Equipment Trading Site!</h1>
        <p>You can buy, sell, and trade all types of kitchen equipment and appliances. From cookware to to small appliances, we have it all.</p>
        <p>Join today and start trading with other kitchen enthusiasts!</p>
    </main>
<%- include('./partials/footer.ejs') %>
